.home {
  padding: 20px;
  margin-left: 50px; /* Matches navbar width */
}

.movie-list {
  display: flex;
  flex-wrap: nowrap; /* Ensures horizontal scrolling */
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 15px;
  justify-content: flex-start;
  padding: 10px 0; /* Adds some padding for better visibility */
  height: auto; /* Ensure the container's height accommodates its content */
  max-height: 500px; /* Set a max-height to control the vertical space */
}

.movie-card {
  flex: 0 0 auto; /* Prevents flex items from growing or shrinking */
  border-radius: 8px;
  padding-top: 40px;
  overflow: hidden;
  text-align: center;
  width: 200px; /* Adjust width as needed */
  position: relative; /* To position elements absolutely */
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 10px;
}

.movie-card h3 {
  font-size: 16px;
  color: rgb(240, 121, 36);
}

.release-date {
  font-size: 14px;
  color: rgb(240, 121, 36);
  margin-bottom: 10px;
}

.rating-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(226, 182, 98);
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.rating-badge .fa-star {
  color: #f39c12;
  margin-right: 5px;
}

.rating-badge span {
  font-size: 12px;
}

.trending, .recently-added, .now-playing {
  margin-bottom: 20px;
  padding-top: 40px;
  color:#f39c12
}

.heart-button {
  position: absolute;
  top: 10px; 
  right: 200px;
  background: none;
  border: none;
  font-size: 24px;
  color: red;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 480px) {
  .rating-badge {
    font-size: 12px;
    padding: 3px 6px;
  }

  .movie-info {
    font-size: 14px;
  }

  .movie-card {
    max-width: 100%;
  }
}

.search-results, .trending, .now-playing, .watchlist {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
}