.genre-list {
  margin-left: 270px; /* Adjust to match the width of your fixed navbar */
  padding: 20px;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between genre items */
}

.genre-item {
  width: 150px; /* Fixed width for genre items */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.genre-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.genre-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
