.genre-page {
  padding: 20px;
}

.genre-slider {
  display: flex;
  overflow-x: scroll; 
  padding: 10px 0;
  gap: 15px;
  list-style-type: none;
  margin-bottom: 30px;
}


h2 {
  margin-bottom: 20px;
  padding-top: 80px;
  font-size: 24px;
  color: #fff;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #1d1d1d;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
  color: #ddd;
}
